{% extends 'adminbasic.html' %}
{% load static %}
{% block body %}
<div class="page-wrapper">
	<div class="content container-fluid">
		<div class="page-header">
			<div class="row">
				<div class="col-sm-12">
					<h3 class="page-title">List of Patient</h3>
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="{% url 'adminhome' %}">Dashboard</a></li>
<!--						<li class="breadcrumb-item"><a href="javascript:(0);">Users</a></li>-->
						<li class="breadcrumb-item active" style="color:blue">Patient</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="card">
					<div class="card-body">
						<div class="table-responsive">
							<div class="table-responsive">
								<table class="datatable table table-hover table-center mb-0">
									<thead>
										<tr>
											<th>Patient ID</th>
											<th>Patient Name</th>
											<th>Age</th>
											<th>Address</th>
											<th>Phone</th>
											<th>Last Visit</th>
											<th class="text-right">Paid</th>
										</tr>
									</thead>
									<tbody>
										{% for p in pnt %}
										<tr>
											<td>#PT0{{forloop.counter}}</td>
											<td>
												<h2 class="table-avatar">
					<a class="avatar avatar-sm mr-2" href="{%url 'patient_profile'%}?profile={{p.id}}">
<!--						<img	alt="User Image" class="avatar-img rounded-circle"-->
<!--															src="/media/{{p.img}}" />-->

       {% if p.img|length is not 0 %}
       <img alt="Fred Ortego" class="avatar-img rounded-circle" src="/media/{{p.img}}" width="31"/>
            {% else %}
             <img alt="Fred Ortego" class="avatar-img rounded-circle" width="31" src="/media/default.jpg"/>
          {% endif %}

					</a>
													<a href="{%url 'patient_profile'%}?profile={{p.id}}">{{p.name}} </a>
												</h2>
											</td>
											<td>{{p.age}}</td>
											<td>{{p.address}}</td>
											<td>{{p.mobile}}</td>
											<td>{{p.date|date:'d M Y'}}</td>
											<td class="text-right">$100.00</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock body %}