
{% extends 'blank-page.html' %}
{% block body %}
{% load static %}
   <div class="breadcrumb-bar">
    <div class="container-fluid">
     <div class="row align-items-center">
      <div class="col-md-12 col-12">
       <h2 class="breadcrumb-title">
        Change Password
       </h2>
       <nav aria-label="breadcrumb" class="page-breadcrumb">
        <ol class="breadcrumb">
         <li class="breadcrumb-item">
          <a href="/">
           Home
          </a>
         </li>
         <li aria-current="page" style="color: blue;"  class="breadcrumb-item active">
          Change Password
         </li>
        </ol>
       </nav>
      </div>
     </div>
    </div>
   </div>
   <div class="content">
    <div class="container-fluid">
     <div class="row">
                {% if request.user.userType.type == '1' %}
      <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
       <div class="profile-sidebar">
        <div class="widget-profile pro-widget-content">
         <div class="profile-info-widget">
            {% if request.user.patient_record.img|length is not 0 %}
            <a class="booking-doc-img" href="/media/{{request.user.patient_record.img}}">
          
           <img alt="User Image" src="/media/{{request.user.patient_record.img}}"/>
           {% else %}<a class="booking-doc-img" href="/media/default.jpg">
          
            <img alt="User Image" src="/media/default.jpg"/>
         {% endif %}
          
          <div class="profile-det-info">
           <h3>
            {{request.user.patient_record.patient}}
           </h3>
           <div class="patient-details">
            <h5>
             <i class="feather-gift">
             </i>
            {{request.user.patient_record.DOB}}({{request.user.patient_record.age}})years
            </h5>
            <h5 class="mb-0">
            {{request.user.patient_record.address}}
            </h5>
           </div>
          </div>
         </div>
        </div>
        <div class="dashboard-widget">
         <nav class="dashboard-menu">
          <ul>
           <li>
            <a href="{% url 'patient_dashboard' %}?Pid={{request.user.patient_record.id}}">
             <span>
              Dashboard
             </span>
             <i class="feather-airplay">
             </i>
            </a>
           </li>
           <li>
            <a href="{% url 'favourites' %}?pa={{request.user.patient_record.id}}'">
             <span>
              Favourites
             </span>
             <i class="feather-bookmark">
             </i>
            </a>
           </li>
           <li>
<!--            <a href="dependent.html">-->
            <a href="{% url 'pagenotfound' %}">
             <span>
              Dependent
             </span>
             <i class="feather-users">
             </i>
            </a>
           </li>
           <li>
<!--            <a href="chat.html">-->
            <a href="{% url 'pagenotfound' %}">
             <span>
              Message
             </span>
             <i class="feather-message-circle">
             </i>
            </a>
           </li>
           <li>
<!--            <a href="patient-accounts.html">-->
            <a href="{% url 'pagenotfound' %}">
             <span>
              Accounts
             </span>
             <i class="fas fa-file-invoice-dollar">
             </i>
            </a>
           </li>
           <li>
            <a href="{% url 'order_list' %}">
             <span>
              Orders
             </span>
             <i class="feather-file-text">
             </i>
            </a>
           </li>
           <li>
            <a href="{% url 'add_medical_record' %}">
             <span>
              Add Medical Records
             </span>
             <i class="feather-paperclip">
             </i>
            </a>
           </li>
           <li>
<!--            <a href="medical-details.html">-->
             <a href="{% url 'pagenotfound' %}">
             <span>
              Medical Details
             </span>
             <i class="fas fa-user-injured">
             </i>
            </a>
           </li>
           <li>
            <a href="{% url 'profile_setting' %}?profile={{request.user.patient_record.patient}}">
             <span>
              Profile Settings
             </span>
             <i class="feather-user">
             </i>
            </a>
           </li>
           <li class="active">
            <a href="{% url 'change_password' %}">
             <span>
              Change Password
             </span>
             <i class="feather-lock">
             </i>
            </a>
           </li>
           <li>
            <a href="{% url 'dlogout' %}">
             <span>
              Logout
             </span>
             <i class="feather-log-out">
             </i>
            </a>
           </li>
          </ul>
         </nav>
        </div>
       </div>
      </div>
                {% elif request.user.userType.type == '2' %}

      <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
       <div class="profile-sidebar">
        <div class="widget-profile pro-widget-content">
         <div class="profile-info-widget">
         
              {% if request.user.Dr.img|length is not 0 %}
              <a class="booking-doc-img" href="/media/{{request.user.Dr.img}}">

           <img alt="User Image" src="/media/{{request.user.Dr.img}}"/></a>
           {% else %} 
           <a class="booking-doc-img" href="/media/default.jpg">

            <img alt="User Image" src="/media/default.jpg"/></a>
         {% endif %}

         
          <div class="profile-det-info">
           <h3>
            Dr.{{request.user.username}}
           </h3>
           <div class="patient-details">
            <h5 class="mb-0">
             {{request.user.Dr.qulification}}
            </h5>
           </div>
          </div>
         </div>
        </div>
        <div class="dashboard-widget">
         <nav class="dashboard-menu">
          <ul>
           <li>
            <a href="{% url 'doctor_dashboard' %}?id={{request.user.Dr.id}}">
             <span>
              Dashboard
             </span>
             <i class="feather-airplay">
             </i>
            </a>
           </li>
           <li>
            <a href="{% url 'appointments' %}?doctor={{request.user.Dr.id}}">
             <span>
              Appointments
             </span>
             <i class="feather-calendar">
             </i>
            </a>
           </li>
           <li>
            <a href="{% url 'my_patient' %}?doctor={{request.user.Dr.id}}">
             <span>
              My Patients
             </span>
             <i class="fas fa-user-injured">
             </i>
            </a>
           </li>
           <li>
            <a href="{% url 'schedule' %}">
             <span>
              Schedule Timings
             </span>
             <i class="far fa-hourglass">
             </i>
            </a>
           </li>
           <li>
<!--            <a href="available-timings.html">-->
            <a href="{% url 'pagenotfound' %}">
             <span>
              Available Timings
             </span>
             <i class="feather-clock">
             </i>
            </a>
           </li>
           <li>
            <a href="{% url 'invoices' %}?invoice={{request.user.Dr.id}}">
             <span>
              Invoices
             </span>
             <i class="feather-file-text">
             </i>
            </a>
           </li>
           <li>
<!--            <a href="accounts.html">-->
            <a href="{% url 'pagenotfound' %}">
             <span>
              Accounts
             </span>
             <i class="fas fa-file-invoice-dollar">
             </i>
            </a>
           </li>
           <li>
            <a href="{% url 'reviews' %}">
             <span>
              Reviews
             </span>
             <i class="feather-star">
             </i>
            </a>
           </li>
           <li>
            <a href="{% url 'chat_doctor' %}">
             <span>
              Message
             </span>
             <i class="feather-message-circle">
             </i>
            </a>
           </li>
           <li>
            <a href="{% url 'doctor_profile_setting' %}?profile={{request.user.Dr.id}}">
             <span>
              Profile Settings
             </span>
             <i class="feather-user">
             </i>
            </a>
           </li>
           <li>
<!--            <a href="social-media.html">-->
            <a href="{% url 'pagenotfound' %}">
             <span>
              Social Media
             </span>
             <i class="feather-share-2">
             </i>
            </a>
           </li>
           <li class="active">
            <a href="{% url 'change_password' %}">
             <span>
              Change Password
             </span>
             <i class="feather-lock">
             </i>
            </a>
           </li>
           <li>
            <a href="{% url 'dlogout' %}">
             <span>
              Logout
             </span>
             <i class="feather-log-out">
             </i>
            </a>
           </li>
          </ul>
         </nav>
        </div>
       </div>
      </div>
      {% endif %}

      <div class="col-md-7 col-lg-8 col-xl-9">
       <h4 class="sub-heading">
        Change Password
       </h4>
       <div class="card">
        <div class="card-body">
         <div class="row">
          <div class="col-md-12 col-lg-6">
           <form  method="post" >{% csrf_token %}
            <div class="form-group">
             <label>
              Old Password
             </label>
             <input class="form-control" id="oldpwd" name='oldpwd' type="password" required/>
            </div>
            <div class="form-group">
             <label>
              New Password
             </label>
             <input class="form-control" id="newpwd" name='newpwd'  type="password" required/>
            </div>
            <div class="form-group">
             <label>
              Confirm Password
             </label>
             <input class="form-control" id="cnfpwd" type="password" required/>
            </div>
            <div class="submit-section">
             <button class="btn btn-primary submit-btn" type="submit">
              Save Changes
             </button>
            </div>
           </form>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  {% endblock %}