
{% extends 'blank-page.html' %}
{% block body %}
{% load static %}
   <div class="breadcrumb-bar">
    <div class="container-fluid">
     <div class="row align-items-center">
      <div class="col-md-12 col-12">
       <h2 class="breadcrumb-title">
        Profile
       </h2>
       <nav aria-label="breadcrumb" class="page-breadcrumb">
        <ol class="breadcrumb">
         <li class="breadcrumb-item">
          <a href="/">
           Home
          </a>
         </li>
         <li aria-current="page" style="color: blue;"  class="breadcrumb-item active">
          Profile
         </li>
        </ol>
       </nav>
      </div>
     </div>
    </div>
   </div>
   <div class="content">
    <div class="container-fluid">
     <div class="row">
      <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar dct-dashbd-lft">
       <div class="card widget-profile pat-widget-profile">
        <div class="card-body">
         <div class="pro-widget-content">
          <div class="profile-info-widget">
           <a class="booking-doc-img" href="#">
              {% if list.0.img|length is not 0 %}
           <img alt="User Image" src="/media/{{list.0.img}}"/>
           {% else %}
            <img alt="User Image" src="/media/default.jpg"/>
         {% endif %}
           </a>
           <div class="profile-det-info">
            <h3>
             {{list.0.patient}}
            </h3>
            <div class="patient-details">
             <h5>
              <b>
               Patient ID :
              </b>
              PT00{{list.0.id}}
             </h5>
             <h5 class="mb-0">
              <i class="fas fa-map-marker-alt">
              </i>
               {{list.0.address}}
             </h5>
            </div>
           </div>
          </div>
         </div>
         <div class="patient-info">
          <ul>
           <li>
            Phone
            <span>
             {{list.0.mobile}}
            </span>
           </li>
           <li>
            Age
            <span>
             {{list.0.age}},{{list.0.gender}}
            </span>
           </li>
           <li>
            Blood Group
            <span>
             {{list.0.Blood_group }}
            </span>
           </li>
          </ul>
         </div>
        </div>
       </div>
       <div class="card">
        <div class="card-header">
         <h4 class="card-title">
          Last Booking
         </h4>
        </div>
        <ul class="list-group list-group-flush">
         <li class="list-group-item">{% if last is not None %}
          <div class="media align-items-center">
           <div class="mr-3">
            <!-- <img alt="Image placeholder" class="avatar rounded-circle" src="/media/{{last.doctor.img}}"/> -->
            {% if last.doctor.img|length is not 0 %}
           <img  alt="Image placeholder" class="avatar rounded-circle" src="/media/{{last.doctor.img}}"/>
           {% else %}
            <img  alt="Image placeholder" class="avatar rounded-circle" src="/media/default.jpg"/>
         {% endif %}
          
          </div>
           <div class="media-body">
            <h5 class="d-block mb-0">
             {{last.doctor.name}}
            </h5>
            <span class="d-block text-sm text-muted">
              {{last.doctor.specialization}}
            </span>
            <span class="d-block text-sm text-muted">
             {{last.date}} ,{{last.time1}}
            </span>
           </div>
          </div>{% else %}
          No Booking Available{% endif %}
         </li>
        </ul>
       </div>
      </div>
      <div class="col-md-7 col-lg-8 col-xl-9 dct-appoinment">
       <div class="card">
        <div class="card-header">
         <div class="user-tabs">
          <ul class="nav nav-tabs nav-tabs-bottom flex-wrap">

                    {% if request.user.userType.type == '1' or request.user.userType.type == '4' %}
           <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#pat_appointments">
             Appointments
            </a>
           </li>{% endif %}
           {% if request.user.userType.type == '1' or request.user.userType.type == '4' %}
           <li class="nav-item">
            <a class="nav-link " data-toggle="tab" href="#pres">
             <span>
              Prescription
             </span>
            </a>
           </li>{% else %}
           <li class="nav-item">
            <a class="nav-link active " data-toggle="tab" href="#pres">
             <span>
              Prescription
             </span>
            </a>
           </li>
           {% endif %}
           <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#medical">
             <span class="med-records">
              Medical Records
             </span>
            </a>
           </li>
           <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#billing">
             <span>
              Billing
             </span>
            </a>
           </li>
          </ul>
         </div>
        </div>
        <div class="card-body p-0">
         <div class="tab-content pt-0">

         {% if request.user.userType.type == '1' %}
          <div class="tab-pane fade show active" id="pat_appointments">
           {% if listapp|length is not 0%}
           <div class="card-table mb-0">
            <div class="card-body p-0">
             <div class="table-responsive">
              <table class="table table-hover table-center mb-0">
               <thead>
                <tr>
                 <th>
                  Doctor
                 </th>
                 <th>
                  Appt Date
                 </th>
                 <th>
                  Booking Date
                 </th>
                 <th>
                  Amount
                 </th>
                 <th>
                  Follow Up
                 </th>
                 <th>
                  Status
                 </th>
                 <th>
                 </th>
                </tr>
               </thead>
               <tbody>{% for i in listapp %}
                <tr>
                 <td>
                  <h2 class="table-avatar">
                   <a class="avatar avatar-sm mr-2" href="{%url 'Doctor_profile' i.dr_name.id %}">
                     {% if i.dr_name.img|length is not 0  %}
                    <img alt="User Image" class="avatar-img rounded-circle" src="/media/{{i.dr_name.img}}"/>
                    {% else %}<img alt="User Image" class="avatar-img rounded-circle" src="/media/default.jpg"/>
                   {% endif %} 
                   </a>
                   <a href="{%url 'Doctor_profile' i.dr_name.id %}">
                    {{i.dr_name.name}}
                    <span>
                     {{i.dr_name.specialization}}
                    </span>
                   </a>
                  </h2>
                 </td>
                 <td>
                 {{i.date}}
                  <span class="d-block text-info">
                    {{i.time1}}-{{i.time2}}
                  </span>
                 </td>
                 <td>
                 {{i.created_date}}
                 </td>
                 <td>
                  ${{i.total}}{{i.amount}}
                 </td>
                 <td>
                  {% now 'd M Y' %}
                 </td>
                 <td>
                  <span class="badge badge-pill success-status">
                   Confirm
                  </span>
                 </td>
                 <td class="text-right">
                  <div class="table-action">
                   <a class="btn btn-sm bg-success-light" href="javascript:void(0);">
                    <i class="feather-edit">
                    </i>
                   </a>
                  </div>
                 </td>
                </tr>
               {%endfor%}
               </tbody>
              </table>
             </div>
            </div>
           </div>
            {% else %}
               <p style="color:blue;font-size:20px;" class="my-3 mx-3" > Appointment Not Available !</p>
           {% endif %}

          </div>{% endif %}
          {% if request.user.userType.type == '2' or request.user.userType.type == '4' %}
          <div class="tab-pane fade show active " id="pres">
           {% if prec|length is not 0 %}
            {% if request.user.userType.type == '2'   %}
           <div class="text-right card-body">
            <a class="add-new-btn mb-0"   onclick="$('#Dids').val('{{request.user.Dr.id}}');"
               data-target="#add_prescription" data-toggle="modal" >
             Add Prescription
            </a>
           </div>
           {% endif %}

           <div class="border-top card-table mb-0">
            <div class="card-body">
             <div class="table-responsive">
              <table class="table table-hover table-center mb-0">
               <thead>
                <tr>
                 <th>
                  Date
                 </th>
                 <th>
                 Prescription
                 </th>
                 <th>
                  Created by
                 </th>
                 <th>
                 </th>
                </tr>
               </thead>
               <tbody>{%for i in prec%}
                <tr>
                 <td>
                  {{i.date}}
                 </td>
                 <td>{% if i.prec_name is not none %}
                   <a href="/media/{{i.prec_name}}" style="color:green">
                {{i.prec_name}}</a>
                      {% else %}
                <a href="/media/{{blank.png}}" style="color:red">
                  No prec.</a>{% endif %}

                 </td>
                 <td>
                  <h2 class="table-avatar">
                   <a class="avatar avatar-sm mr-2" href="{%url 'Doctor_profile' i.doctor.id %}">
                    <!-- <img alt="User Image" class="avatar-img rounded-circle" src="/media/{{i.doctor.img}}"/> -->
                  
                  
                    {% if i.doctor.img|length is not 0  %}
                    <img alt="User Image" class="avatar-img rounded-circle" src="/media/{{i.doctor.img}}"/>
                    {% else %}<img alt="User Image" class="avatar-img rounded-circle" src="/media/default.jpg"/>
                   {% endif %}
                  
                  
                  
                  
                  
                  </a>
                   <a href="{%url 'Doctor_profile' i.doctor.id %}">
                    {{i.doctor.name}}
                    <span>
                     {{i.doctor.specialization}}
                    </span>
                   </a>
                  </h2>
                 </td>
                 <td class="text-right">
                  <div class="table-action">
                   <a class="btn btn-sm bg-primary-light" href="javascript:void(0);">
                    <i class="feather-printer">
                    </i>
                   </a>
                   <a class="btn btn-sm bg-info-light" data-target="#pres_details" data-toggle="modal"
                      onclick="$('#da1').val('{{i.date}}');
                      $('#pr1').val(' {{i.prec_name}}');$('#Di1').val('{{i.doctor.name}}');">
                    <i class="feather-eye">
                    </i>
                   </a>
                  </div>
                 </td>
                </tr>{%endfor%}

               </tbody>
              </table>
             </div>
            </div>
           </div>


            {% else %}
               <p style="color:blue;font-size:20px;" class="my-3 mx-3" > Prescription Not Available !</p>
           {% endif %}
          </div>{% endif %}
          {% if request.user.userType.type == '1' %}
          <div class="tab-pane fade show " id="pres">
            {% if prec|length is not 0 %}
 
            <div class="border-top card-table mb-0">
             <div class="card-body">
              <div class="table-responsive">
               <table class="table table-hover table-center mb-0">
                <thead>
                 <tr>
                  <th>
                   Date
                  </th>
                  <th>
                  Prescription
                  </th>
                  <th>
                   Created by
                  </th>
                  <th>
                  </th>
                 </tr>
                </thead>
                <tbody>{%for i in prec%}
                 <tr>
                  <td>
                   {{i.date}}
                  </td>
                  <td>{% if i.prec_name is not none %}
                    <a href="/media/{{i.prec_name}}" style="color:green">
                 {{i.prec_name}}</a>
                       {% else %}
                 <a href="/media/{{blank.png}}" style="color:red">
                   No prec.</a>{% endif %}
 
                  </td>
                  <td>
                   <h2 class="table-avatar">
                    <a class="avatar avatar-sm mr-2" href="{%url 'Doctor_profile' i.doctor.id %}">
                     <!-- <img alt="User Image" class="avatar-img rounded-circle" src="/media/{{i.doctor.img}}"/> -->
                     {% if i.doctor.img|length is not 0  %}
                     <img alt="User Image" class="avatar-img rounded-circle" src="/media/{{i.doctor.img}}"/>
                     {% else %}<img alt="User Image" class="avatar-img rounded-circle" src="/media/default.jpg"/>
                    {% endif %}
                   
                    </a>
                    <a href="{%url 'Doctor_profile' i.doctor.id %}">
                     {{i.doctor.name}}
                     <span>
                      {{i.doctor.specialization}}
                     </span>
                    </a>
                   </h2>
                  </td>
                  <td class="text-right">
                   <div class="table-action">
                    <a class="btn btn-sm bg-primary-light" href="javascript:void(0);">
                     <i class="feather-printer">
                     </i>
                    </a>
                    <a class="btn btn-sm bg-info-light" data-target="#pres_details" data-toggle="modal"
                       onclick="$('#da1').val('{{i.date}}');
                       $('#pr1').val(' {{i.prec_name}}');$('#Di1').val('{{i.doctor.name}}');">
                     <i class="feather-eye">
                     </i>
                    </a>
                   </div>
                  </td>
                 </tr>{%endfor%}
 
                </tbody>
               </table>
              </div>
             </div>
            </div>
 
 
             {% else %}
                <p style="color:blue;font-size:20px;" class="my-3 mx-3" > Prescription Not Available !</p>
            {% endif %}
           </div>{% endif %}

          <div class="tab-pane fade" id="medical">
           {% if medical|length is not 0 %}
            {% if request.user.userType.type == '2' %}
           <div class="text-right card-body">
            <a class="add-new-btn mb-0"  onclick="$('#Did').val('{{request.user.Dr.id}}');"
               data-target="#add_medical_records" data-toggle="modal" >
             Add Medical Records
            </a>
           </div>{% endif %}
           <div class="border-top card-table mb-0">
            <div class="card-body">
             <div class="table-responsive">
              <table class="table table-hover table-center mb-0">
               <thead>
                <tr>
                 <th>
                  ID
                 </th>
                 <th>
                  Date
                 </th>
                 <th>
                  Description
                 </th>
                 <th>
                  Attachment
                 </th>
                 <th>
                  Created
                 </th>
                 <th>
                 </th>
                </tr>
               </thead>
               <tbody>{%for i in medical%}
                <tr>
                 <td>
                  <!-- <a href="/media/{{i.attachment}}" > -->
                    <a href="#">

                   #MR-00{{i.id}}
                  </a>
                 </td>
                 <td>
                  {{i.date}}
                 </td>
                 <td>{% if i.desc is not none %}
                  {{i.desc}}
                  {% else %}
                  <p style="color:red">
                    No Desc.</p>{% endif %}
                 </td>
                 <td>{% if  i.attachment is not blank %}
                  <a href="/media/{{i.attachment}}">
                   {{i.attachment}}
                  </a>
                  {% else %}
                  <a href="/media/{{blank.png}}" style="color:red">
                    No Atachment</a>{% endif %}
                 </td>
                 <td>
                  <h2 class="table-avatar">
                   <a class="avatar avatar-sm mr-2" href="{%url 'Doctor_profile' i.doctor.id %}">
                    <!-- <img alt="User Image" class="avatar-img rounded-circle" src="/media/{{i.doctor.img}}"/> -->
                    {% if i.doctor.img|length is not 0  %}
                    <img alt="User Image" class="avatar-img rounded-circle" src="/media/{{i.doctor.img}}"/>
                    {% else %}<img alt="User Image" class="avatar-img rounded-circle" src="/media/default.jpg"/>
                   {% endif %}
                    
                  </a>
                   <a href="{%url 'Doctor_profile' i.doctor.id %}">
                    {{i.doctor.name}}
                    <span>
                     {{i.doctor.specialization}}
                    </span>
                   </a>
                  </h2>
                 </td>
                 <td class="text-right">
                  <div class="table-action">
                   <a class="btn btn-sm bg-primary-light" href="javascript:void(0);">
                    <i class="feather-printer">
                    </i>
                   </a>
                   <a class="btn btn-sm bg-info-light"  data-target="#medical_details" data-toggle="modal"
                      onclick="$('#at2').val('{{i.attachment}}');$('#da2').val('{{i.date}}');
                      $('#de2').val('{{i.desc}}');$('#Di2').val('{{i.doctor.name}}');">
                    <i class="feather-eye">
                    </i>
                   </a>
                  </div>
                 </td>
                </tr>
               {%endfor%}
               </tbody>
              </table>
             </div>
            </div>
           </div>
            {% else %}
               <p style="color:blue;font-size:20px;" class="my-3 mx-3" > Medical Record Not Available !</p>
           {% endif %}
          </div>
          <div class="tab-pane" id="billing">
           {% if bill|length is not 0 or appt|length is not 0 %}
            {% if request.user.userType.type == '2' %}
           <div class="text-right card-body">
            <a class="add-new-btn mb-0"  onclick="$('#Did1').val('{{request.user.Dr.id}}');" data-toggle="modal" data-target="#add_billing">
             Add Billing
            </a>
           </div>{% endif %}
           <div class="border-top card-table mb-0">
            <div class="card-body">
             <div class="table-responsive">
              <table class="table table-hover table-center mb-0">
               <thead>
                <tr>
                 <th>
                  Invoice No
                 </th>
                 <th>
                  Doctor
                 </th>
                 <th>
                  Amount
                 </th>
                 <th>
                  Paid On
                 </th>
                 <th>
                 </th>
                </tr>
               </thead>
               <tbody>{%for i in bill%}
                <tr>
                 <td>
   <a href="{%url 'invoice_view'%}?Pid={{i.patient.id}}&Did={{i.doctor.id}}Bid={{i.id}}">
                   #INV-00{{i.id}}
                  </a>


                 </td>
                 <td>
                  <h2 class="table-avatar">
                   <a class="avatar avatar-sm mr-2" href="{%url 'Doctor_profile' i.doctor.id %}">
                    <!-- <img alt="User Image" class="avatar-img rounded-circle" src="/media/{{i.doctor.img}}"/> -->
                  
                    {% if i.doctor.img|length is not 0  %}
                    <img alt="User Image" class="avatar-img rounded-circle" src="/media/{{i.doctor.img}}"/>
                    {% else %}<img alt="User Image" class="avatar-img rounded-circle" src="/media/default.jpg"/>
                   {% endif %}
                  </a>
                   <a href="{%url 'Doctor_profile' i.doctor.id %}">
                    {{i.doctor.name}}
                    <span>
                    {{i.doctor.specialization}}
                    </span>
                   </a>
                  </h2>
                 </td>
                 <td>
                  ${{i.amount}}
                 </td>
                 <td>
                  {{i.paid_on_date}}
                 </td>
                 <td class="text-right">
                  <div class="table-action">
                   <a class="btn btn-sm bg-primary-light" href="javascript:void(0);">
                    <i class="feather-printer">
                    </i>
                   </a>
                   <a class="btn btn-sm bg-info-light" href="{%url 'invoice_view'%}?Pid={{i.patient.id}}&Did={{i.doctor.id}}&Bid={{i.id}}">
                    <i class="feather-eye">
                    </i>
                   </a>
                  </div>
                 </td>
                </tr>
               {%endfor%}
               {% for a in appt %}
               <tr>
                  <td>
                   <a href="{%url 'invoice_view'%}?Pid={{a.patient.id}}&Did={{a.doctor.id}}&Oid={{a.id}}">
                    #INV-00{{a.id}}
                   </a>
                  </td>
                  <td>
                   <h2 class="table-avatar">
                    <a class="avatar avatar-sm mr-2" href="{%url 'Doctor_profile' a.doctor.id %}">
                     <!-- <img alt="User Image" class="avatar-img rounded-circle" src=" /media/{{i.doctor.img}}"/> -->
                    
                   
                     {% if a.doctor.img|length is not 0  %}
                     <img alt="User Image" class="avatar-img rounded-circle" src="/media/{{a.doctor.img}}"/>
                     {% else %}<img alt="User Image" class="avatar-img rounded-circle" src="/media/default.jpg"/>
                    {% endif %}
                   
                   </a>
                    <a href="{%url 'Doctor_profile' a.doctor.id %}">
                      {{a.doctor.name}}
                     <span>
                     {{a.doctor.specialization}}
                     </span>
                    </a>
                   </h2>
                  </td>
                  <td>
                   ${{a.amount}}
                  </td>
                  <td>
                   {{a.created_date}}
                  </td>
                  

                  <td class="text-right">
                    <div class="table-action">
                     <a class="btn btn-sm bg-primary-light" href="javascript:void(0);">
                      <i class="feather-printer">
                      </i>
                     </a>
                     <a class="btn btn-sm bg-info-light" href="{%url 'invoice_view'%}?Pid={{a.patient.id}}&Did={{a.doctor.id}}&Oid={{a.id}}">
                      <i class="feather-eye">
                      </i>
                     </a>
                    </div>
                   </td>
                 </tr>{% endfor %}
               </tbody>
              </table>
             </div>
            </div>
           </div>

            {% else %}
               <p style="color:blue;font-size:20px;" class="my-3 mx-3" > Billing Record Not Available !</p>
           {% endif %}
          </div>


         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
   {%endblock%}

{% block body1 %}

  <div class="modal fade custom-modal" id="add_medical_records">
   <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
     <div class="modal-header">
      <h3 class="modal-title">
       Medical Records
      </h3>
      <button aria-label="Close" class="close" data-dismiss="modal" type="button">
       <span aria-hidden="true">
        ×
       </span>
      </button>
     </div>
     <form method="post">{% csrf_token %}
      <div class="modal-body">
       <input name="Did" id="Did" type="hidden">
       <div class="form-group">
        <label>
         Date
        </label>
        <input class="form-control datetimepicker" required name="date" id="presm" type="date" value="{% now 'Y-m-d' %}"/>
       </div>
       <div class="form-group">
        <label>
         Description ( Optional )
        </label>
        <textarea class="form-control" name="dese" id="dese"></textarea>
       </div>
       <div class="form-group">
        <label>
         Upload File
        </label>
        <input class="form-control" name="file" required id="file" type="file"/>
       </div>
       <div class="submit-section text-center">
        <button class="btn btn-primary submit-btn" type="submit">
         Submit
        </button>
        <button class="btn btn-secondary submit-btn" data-dismiss="modal" type="button">
         Cancel
        </button>
       </div>
      </div>
     </form>
    </div>
   </div>
  </div>

  <div class="modal fade custom-modal" id="add_billing">
   <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
     <div class="modal-header">
      <h3 class="modal-title">
       Billing
      </h3>
      <button aria-label="Close" class="close" data-dismiss="modal" type="button">
       <span aria-hidden="true">
        ×
       </span>
      </button>
     </div>
     <form method="post">{% csrf_token %}
      <div class="modal-body"><input name="Did1" id="Did1" type="hidden">

       <div class="form-group">
        <label>
       Paid On Date
        </label>
        <input class="form-control datetimepicker" name="date"  required id="date1" type="date" value="{% now 'Y-m-d' %}"/>
       </div>
       <div class="form-group">
        <label>
         Amount
        </label>
        <input class="form-control datetimepicker" name="amount" required  id="amount" type="number" value=""/>
       </div>

       <div class="submit-section text-center">
        <button class="btn btn-primary submit-btn" type="submit">
         Submit
        </button>
        <button class="btn btn-secondary submit-btn" data-dismiss="modal" type="button">
         Cancel
        </button>
       </div>
      </div>
     </form>
    </div>
   </div>
  </div>

  <div class="modal fade custom-modal" id="add_prescription">
   <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
     <div class="modal-header">
      <h3 class="modal-title">
      Prescription
      </h3>
      <button aria-label="Close" class="close" data-dismiss="modal" type="button">
       <span aria-hidden="true">
        ×
       </span>
      </button>
     </div>
     <form method="post">{% csrf_token %}
      <div class="modal-body"><input name="Dids" id="Dids" type="hidden">
       <div class="form-group">
        <label>
         Date
        </label>
        <input class="form-control datetimepicker" name="date" required id="dates" type="date" value="{% now 'Y-m-d' %}"/>
       </div>
          <div class="form-group">
        <label>
         Prescription
        </label>
        <input class="form-control datetimepicker" required name="presc" id="presms" type="file" value=""/>
       </div>
       <div class="submit-section text-center">
        <button class="btn btn-primary submit-btn" type="submit">
         Submit
        </button>
        <button class="btn btn-secondary submit-btn" data-dismiss="modal" type="button">
         Cancel
        </button>
       </div>
      </div>
     </form>
    </div>
   </div>
  </div>



 <div class="modal fade custom-modal" id="medical_details">
   <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
     <div class="modal-header">
      <h5 class="modal-title">
      Medical Details
      </h5>
      <button aria-label="Close" class="close" data-dismiss="modal" type="button">
       <span aria-hidden="true">
        ×
       </span>
      </button>
     </div>
      <div class="modal-body">
      <ul class="info-details">
       <li>
        <span class="title">
         Doctor : <input id='Di2' class="mx-2" style="border:none; display: inline; width: 150px;" >
        </span>
       </li>
        <li>
        <span class="title">
         Description : <input id='de2' class="mx-2" style="border:none; display: inline; width: 150px;">
        </span>

       </li>
        <li>
        <span class="title">
         Attachment : <input id='at2'  class="mx-2" style="border:none; display: inline; width: 150px;">
        </span>
       </li>
       <li>
        <span class="title">
         Date :<input class="mx-2" style="border:none; display: inline; width: 150px;" id="da2" />
        </span>

       </li>
      </ul>
     </div>
    </div>
   </div>
  </div>

 <div class="modal fade custom-modal" id="pres_details">
   <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
     <div class="modal-header">
      <h5 class="modal-title">
      Prescription Details
      </h5>
      <button aria-label="Close" class="close" data-dismiss="modal" type="button">
       <span aria-hidden="true">
        ×
       </span>
      </button>
     </div>
      <div class="modal-body">
      <ul class="info-details">
       <li>
        <span class="title">
         Doctor : <input id='Di1' class="mx-2" style="border:none; display: inline; width: 150px;" >
        </span>
       </li>
        <li>
        <span class="title">
         Prescription : <input id='pr1' class="mx-2" style="border:none; display: inline; width: 150px;">
        </span>

       </li>
       <li>
        <span class="title">
         Date :<input class="mx-2" style="border:none; display: inline; width: 150px;" id="da1" />
        </span>

       </li>
      </ul>
     </div>
    </div>
   </div>
  </div>

 <div class="modal fade custom-modal" id="appointment_details">
   <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
     <div class="modal-header">
      <h5 class="modal-title">
       Appointment Details
      </h5>
      <button aria-label="Close" class="close" data-dismiss="modal" type="button">
       <span aria-hidden="true">
        ×
       </span>
      </button>
     </div>
      <div class="modal-body">
      <ul class="info-details">
       <li>
        <span class="title">
         Doctor: <input id='Did1' class="mx-2" style="border:none; display: inline; width: 150px;" >
        </span>
       </li>
        <li>
        <span class="title">
         Date : <input id='date1' class="mx-2" style="border:none; display: inline; width: 150px;">
        </span>

       </li>
        <li>
        <span class="title">
         Time: <input id='time1'  class="mx-2" style="border:none; display: inline; width: 50px;">-<input id='time2'  class="mx-1" style="border:none; display: inline; width: 50px;">
        </span>
       </li>
       <li>
        <span class="title">
         Amount : $<input class="mx-2"  style="border:none; display: inline; width: 150px;" id="amount" />
        </span>

       </li>
      </ul>
     </div>
    </div>
   </div>
  </div>
{% endblock body1%}