
{% extends 'blank-page.html' %}
{% block body %}
{% load static %}
   <div class="breadcrumb-bar">
    <div class="container-fluid">
     <div class="row align-items-center">
      <div class="col-md-12 col-12">
       <h2 class="breadcrumb-title">
        Blog Details
       </h2>
       <nav aria-label="breadcrumb" class="page-breadcrumb">
        <ol class="breadcrumb">
         <li class="breadcrumb-item">
          <a href="/">
           Home
          </a>
         </li>
         <li aria-current="page" style="color: blue;" class="breadcrumb-item active">
          Blog
         </li>
        </ol>
       </nav>
      </div>
     </div>
    </div>
   </div>
   <div class="content">
    <div class="container">
     <div class="row">
      <div class="col-lg-4 col-md-12 sidebar-right theiaStickySidebar">
       <div class="card search-widget">
        <div class="card-body">
         <form class="search-form">
          <div class="input-group">
           <input class="form-control" placeholder="Search..." type="text"/>
           <div class="input-group-append">
            <button class="btn btn-white" type="submit">
             <i class="fa fa-search">
             </i>
            </button>
           </div>
          </div>
         </form>
        </div>
       </div>
       <div class="card post-widget">
        <div class="card-header">
         <h4 class="card-title">
          Latest Posts
         </h4>
        </div>
        <div class="card-body">
         <ul class="latest-posts">{%for tit in alls%}
          <li>
           <div class="post-thumb">
            <a href="/blog-details?@//@/={{tit.id}}&Did={{tit.doc.id}}">
<!--             <img alt="" class="img-fluid" src="/media/{{tit.img}}"/>-->
              {% if tit.img|length is not 0 %}
             <img alt="" class="img-fluid" src="/media/{{tit.img}}"/>
           {% else %}
            <img alt="" class="img-fluid" src="/media/default.jpg"/>
         {% endif %}
            </a>
           </div>
           <div class="post-info">
            <h4>
             <a href="/blog-details?@//@/={{tit.id}}&Did={{tit.doc.id}}">
              {{tit.title}}
             </a>
            </h4>
            <p>
             {{tit.date}}
            </p>
           </div>
          </li>{%endfor%}

         </ul>
        </div>
       </div>
       <div class="card category-widget">
        <div class="card-header">
         <h4 class="card-title">
          Blog Categories
         </h4>
        </div>
        <div class="card-body">
         <ul class="categories">
          <li>
           <a href="#">
            Cardiology
            <span>
             (62)
            </span>
           </a>
          </li>
          <li>
           <a href="#">
            Health Care
            <span>
             (27)
            </span>
           </a>
          </li>
          <li>
           <a href="#">
            Nutritions
            <span>
             (41)
            </span>
           </a>
          </li>
          <li>
           <a href="#">
            Health Tips
            <span>
             (16)
            </span>
           </a>
          </li>
          <li>
           <a href="#">
            Medical Research
            <span>
             (55)
            </span>
           </a>
          </li>
          <li>
           <a href="#">
            Health Treatment
            <span>
             (07)
            </span>
           </a>
          </li>
         </ul>
        </div>
       </div>
       <div class="card tags-widget">
        <div class="card-header">
         <h4 class="card-title">
          Tags
         </h4>
        </div>
        <div class="card-body">
         <ul class="tags">
          <li>
           <a class="tag" href="#">
            Children
           </a>
          </li>
          <li>
           <a class="tag" href="#">
            Disease
           </a>
          </li>
          <li>
           <a class="tag" href="#">
            Appointment
           </a>
          </li>
          <li>
           <a class="tag" href="#">
            Booking
           </a>
          </li>
          <li>
           <a class="tag" href="#">
            Kids
           </a>
          </li>
          <li>
           <a class="tag" href="#">
            Health
           </a>
          </li>
          <li>
           <a class="tag" href="#">
            Family
           </a>
          </li>
          <li>
           <a class="tag" href="#">
            Tips
           </a>
          </li>
          <li>
           <a class="tag" href="#">
            Shedule
           </a>
          </li>
          <li>
           <a class="tag" href="#">
            Treatment
           </a>
          </li>
          <li>
           <a class="tag" href="#">
            Dr
           </a>
          </li>
          <li>
           <a class="tag" href="#">
            Clinic
           </a>
          </li>
          <li>
           <a class="tag" href="#">
            Online
           </a>
          </li>
          <li>
           <a class="tag" href="#">
            Health Care
           </a>
          </li>
          <li>
           <a class="tag" href="#">
            Consulting
           </a>
          </li>
          <li>
           <a class="tag" href="#">
            Doctors
           </a>
          </li>
          <li>
           <a class="tag" href="#">
            Neurology
           </a>
          </li>
          <li>
           <a class="tag" href="#">
            Dentists
           </a>
          </li>
          <li>
           <a class="tag" href="#">
            Specialist
           </a>
          </li>
          <li>
           <a class="tag" href="#">
            Doccure
           </a>
          </li>
         </ul>
        </div>
       </div>
      </div>
      <div class="col-lg-8 col-md-12">
       <div class="blog-view">
        <div class="blog blog-single-post">
         <div class="blog-image">
<!--          <a href="javascript:void(0);">-->
<!--           <img alt="" class="img-fluid" src="/media/{{tit.img}}"/>-->

              {% if tit.img|length is not 0 %}
          <a href="/media/{{tit.img}}">
           <img alt="" class="img-fluid" src="/media/{{tit.img}}"/></a>
           {% else %}<a href="/media/default.jpg">
          <img alt="img-fluid" src="/media/default.jpg"/></a>
         {% endif %}
          </a>
         </div>
         <h3 class="blog-title">
          {{tit.title}}
         </h3>
         <div class="blog-info clearfix">
          <div class="post-left">
           <ul>
            <li>
             <div class="post-author">
<!--              <a href="{% url 'Doctor_profile' tit.doc.id %}">-->
<!--               <img alt="Post Author" src="/media/{{tit.doc.img}}"/>-->

                {% if tit.doc.img|length is not 0 %}
              <a href="/media/{{tit.doc.img}}">
              <img alt="" class="Post Author" src="/media/{{tit.doc.img}}"/>
              </a>
           {% else %}<a href="/media/default.jpg">
              <img alt="Post Author" src="/media/default.jpg"/></a>
         {% endif %}
               <span>
               {{tit.doc.name}}
               </span>
<!--              </a>-->
             </div>
            </li>
            <li>
             <i class="far fa-calendar">
             </i>
             {{tit.date}}
            </li>
            <li>
             <i class="far fa-comments">
             </i>
             12 Comments
            </li>
            <li>
             <i class="fa fa-tags">
             </i>
             Health Tips
            </li>
           </ul>
          </div>
         </div>
         <div class="blog-content">
          <p>
           {{tit.desc}}</p>

         </div>
        </div>
        <div class="card blog-share clearfix">
         <div class="card-body d-sm-flex align-items-center justify-content-between">
          <h4 class="card-title mb-0">
           Share the post
          </h4>
          <ul class="social-share">
           <li>
            <a href="#" title="Facebook">
             <i class="feather-facebook">
             </i>
            </a>
           </li>
           <li>
            <a href="#" title="Twitter">
             <i class="feather-twitter">
             </i>
            </a>
           </li>
           <li>
            <a href="#" title="Linkedin">
             <i class="feather-linkedin">
             </i>
            </a>
           </li>
           <li>
            <a href="#" title="Google Plus">
             <i class="feather-instagram">
             </i>
            </a>
           </li>
           <li>
            <a href="#" title="Youtube">
             <i class="feather-youtube">
             </i>
            </a>
           </li>
          </ul>
         </div>
        </div>
        <div class="card author-widget clearfix">
         <div class="card-header">
          <h4 class="card-title">
           About Author
          </h4>
         </div>
         <div class="card-body">
          <div class="about-author">
           <div class="about-author-img">
            <div class="author-img-wrap">
<!--             <a href="{% url 'Doctor_profile' tit.doc.id %}">-->
<!--              <img alt="" class="img-fluid rounded-circle" src="/media/{{tit.doc.img}}"/>-->
               {% if tit.doc.img|length is not 0 %}
             <a href="/media/{{tit.doc.img}}">
              <img alt="" class="img-fluid rounded-circle" src="/media/{{tit.doc.img}}"/></a>
           {% else %}<a href="/media/default.jpg">
             <img  alt='' class="avatar rounded-circle" src="/media/default.jpg"/></a>
         {% endif %}
<!--             </a>-->
            </div>
           </div>
           <div class="author-details">
            <a class="blog-author-name" href="{% url 'Doctor_profile' tit.doc.id %}">
             {{tit.doc.name}}
            </a>
            <p class="mb-0">
       {{tit.doc.Ov_view.about}} </p>
           </div>
          </div>
         </div>
        </div>
        <div class="clearfix">
         `
         <div class="doc-review review-listing">
          <ul class="comments-list">
           <li>
              <!-- for review -->
            <!-- <div class="comment">
             <img alt="User Image" class="avatar rounded-circle" src="assets/img/patients/patient.jpg"/>
             <div class="comment-body">
              <div class="meta-data">
               <span class="comment-author">
                Richard Wilson
               </span>
               <span class="comment-date">
                Reviewed 2 Days ago
               </span>
               <div class="review-count rating">
                <i class="fas fa-star filled">
                </i>
                <i class="fas fa-star filled">
                </i>
                <i class="fas fa-star filled">
                </i>
                <i class="fas fa-star filled">
                </i>
                <i class="fas fa-star">
                </i>
               </div>
              </div>
              <p class="recommended">
               <i class="far fa-thumbs-up">
               </i>
               I recommend the doctor
              </p>
              <p class="comment-content">
               Lorem ipsum dolor sit amets
              </p>
              <div class="comment-reply">
               <a class="comment-btn" href="#">
                <i class="fas fa-reply">
                </i>
                Reply
               </a>
               <p class="recommend-btn">
                <span>
                 Recommend?
                </span>
                <a class="like-btn" href="/like?@//@/={{i.id}}&next={{request.get_full_path}}">
>
                 <i class="far fa-thumbs-up">
                 </i>
                 Yes
                </a>
                <a class="dislike-btn" href="#">
                 <i class="far fa-thumbs-down">
                 </i>
                 No
                </a>
               </p>
              </div>
             </div>
            </div> -->
            <ul class="comments-reply">
       <!--  FOr reply -->
               <!-- <li> -->
              <!-- <div class="comment">
               <img alt="User Image" class="avatar rounded-circle" src="assets/img/doctors/doctor-thumb-02.jpg"/>
               <div class="comment-body">
                <div class="meta-data">
                 <span class="comment-author">
                  Dr. Darren Elder
                 </span>
                 <span class="comment-date">
                  Reviewed 3 Days ago
                 </span>
                </div>
                <p class="comment-content">
                 Lorem ipsum dolor sit
                </p>
                <div class="comment-reply">
                 <a class="comment-btn" href="#">
                  <i class="fas fa-reply">
                  </i>
                  Reply
                 </a>
                </div>
               </div>
              </div> -->
             <!-- </li> -->
            </ul>
           </li>{% if review|length is not 0 %}
 {% for i in review %}
           <li>
            <div class="comment">
<!--             <img alt="User Image" class="avatar rounded-circle" src="/media/{{i.patient.img}}"/>-->


               {% if i.patient.img|length is not 0 %}
             <img alt="User Image" class="avatar rounded-circle" src="/media/{{i.patient.img}}"/>

           {% else %}
            <img  alt="User Image" class="avatar rounded-circle" src="/media/default.jpg"/>
         {% endif %}
             <div class="comment-body">
              <div class="meta-data">
               <span class="comment-author">
                {{i.name}}
               </span>
               <span class="comment-date">
                Reviewed on 1 Nov 2021
               </span>


                   <div class="review-count rating">
                {%for  j in "x"|ljust:"5"%}
    {%if i.rating > forloop.counter0 %}
                <i class="fas fa-star filled" >
                </i>
                {%else%}
                <i class="fas fa-star">
                </i>
                {%endif%}
                {%endfor%}

               </div>
              </div>
              <p class="comment-content">
               {{i.review}}
              </p>
              <div class="comment-reply">
               <a class="comment-btn" href="#">
                <i class="fas fa-reply">
                </i>
                Reply
               </a>
               <p class="recommend-btn">
                <span>
                 Recommend?
                </span>
                <a class="like-btn" href="{%url 'like'%}?@//@/={{i.id}}&next={{request.get_full_path| urlencode}}">
                 <i class="far fa-thumbs-up">
                 </i>
                 {{i.YES}}
                </a>
                <a class="dislike-btn" href="{%url 'dislike'%}?@//@/={{i.id}}&next={{request.get_full_path|urlencode}}">
                 <i class="far fa-thumbs-down">
                 </i>
                 {{i.NO}}
                </a>
               </p>
              </div>
             </div>
            </div>
           </li>{%endfor%}{% else %}
           <p style="font-size:25px;margin-top: 10px;margin-left: 10px; margin-left: 10px;color:blue">No Review !</p>{% endif %}
          </ul>
         </div>
        </div>
         {% if request.user.userType.type == '1' %}
        <div class="card new-comment clearfix">
         <div class="card-header">
          <h4 class="card-title">
           Leave Comment
          </h4>
         </div>
         <div class="card-body">
          <form method="post"  >{% csrf_token %}
           <div class="form-group">
            <label>
             Name
             <span class="text-danger">
              *
             </span>
            </label>
            <input class="form-control" name="name" value="{{request.user.patient_record.name}}" readonly/>
           </div>
           <div class="form-group">
            <label>
             Comments
            </label>
            <textarea class="form-control" name="review" required rows="4"></textarea>
           </div>
           <div class="submit-section">
            <button class="btn btn-primary submit-btn" type="submit">
             Submit
            </button>
           </div>
          </form>
         </div>
        </div>{% endif %}
       </div>
      </div>
     </div>
    </div>
   </div>
   {%endblock%}