
{% extends 'basics.html' %}
{% block body %}
{% load static %}
   <div class="page-wrapper">
    <div class="content container-fluid">
     <div class="page-header">
      <div class="row">
       <div class="col-sm-7 col-auto">
        <h3 class="page-title">
         Products
        </h3>
        <ul class="breadcrumb">
         <li class="breadcrumb-item">
          <a href="{% url 'indexs'%}">
           Dashboard
          </a>
         </li>
         <li class="breadcrumb-item active" style="color:blue">
          Products
         </li>
        </ul>
       </div>
       <div class="col-sm-5 col">
        <a class="btn btn-primary float-right mt-2" href="{% url 'add_product' %}">
         Add New
        </a>
       </div>
      </div>
     </div>
     <div class="row">{% if product|length is not 0%}
      <div class="col-md-12">
       <div class="card">
        <div class="card-body">
         <div class="table-responsive">
          <table class="datatable table table-hover table-center mb-0">
           <thead>
            <tr>
             <th>
              #
             </th>
             <th>
              Product Name
             </th>
             <th>
              Category
             </th>
             <th>
              Price
             </th>
             <th>
              Quantity
             </th>
             <th>
              Discount
             </th>
             <th>
              Expire
             </th>
             <th>
              Action
             </th>
            </tr>
           </thead>
           <tbody>{% for i in product %}

            <tr>
             <td>
              {{forloop.counter}}
             </td>
             <td>
              <h2 class="table-avatar">
               <span class="avatar avatar-sm mr-2">{% if i.img|length is not 0 %}
                <img alt="product image" class="avatar-img" src="/media/{{i.img}}"/>
                {% else %}
                <img alt="product image" class="avatar-img" src="/media/black.png"/>{% endif%}
               </span>
               {{i.name}}
              </h2>
             </td>
             <td>
              {{i.categorie}}
             </td>
             <td>
              ${{i.price}}
             </td>
             <td>{% if i.quntity <= 5 %}
              <span class="btn btn-sm bg-warning-light">
             There only {{i.quntity}}</span>
              {% else %}
             {% if i.quntity <= 0 %}
             <span class="btn btn-sm bg-danger-light">
             THERE ONLY (0)
            </span>
              {% else %}
              {{i.quntity}}{% endif %}{% endif %}
             </td>

             <td>
              {{i.discount}}%
             </td>
             <td>{% if i.expiry_date >  today  %}
              <span class="btn btn-sm bg-warning-light">
               {{i.expiry_date}}
              </span>{% else %}
               <span class="btn btn-sm bg-danger-light">
               THE PRODUCT IS EXPIRED
              </span>
             {% endif %}</td>
             <td>
              <div class="actions">
               <a class="btn btn-sm bg-success-light" onclick="$('#phar_id').val('{{i.id}}');" data-toggle="modal" href="#edit_specialities_details">
                <i class="fe fe-pencil">
                </i>
                Edit
               </a>
               <a class="btn btn-sm bg-danger-light" onclick="$('#prodid').val('{{i.id}}');" data-target="#deleteConfirmModal" data-toggle="modal" href="javascript:void(0);">
                <i class="fe fe-trash">
                </i>Delete
               </a>
              </div>
             </td>
            </tr>
            {% endfor %}
           </tbody>
          </table>
         </div>
        </div>
       </div>
      </div>

      {% else %}
         <p style="font-size:30px;color:blue;" class="my-2 mx-3">No Product Available !</p>
         {% endif %}
     </div>
    </div>
   </div>
{% endblock %}{% block body1%}
  <div aria-hidden="true" class="modal fade" id="deleteConfirmModal" role="dialog" tabindex="-1">
   <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
     <div class="modal-header">
      <h5 class="modal-title" id="acc_title">
       Delete
      </h5>
      <button aria-label="Close" class="close" data-dismiss="modal"  type="button">
       <span aria-hidden="true" >
        ×
       </span>
      </button>
     </div>
     <form method="get">
     <div class="modal-body">
      <p id="acc_msg">
       are you sure you want to delete?
      </p>
     </div>
     <input class="form-control" name="prod" id="prodid" type="hidden" value="" />
     <div class="modal-footer">
      <button class="btn btn-success si_accept_confirm" type="submit" >
       Yes
      </button>
      <button class="btn btn-danger si_accept_cancel" data-dismiss="modal" type="button">
       Cancel
      </button>
     </div> </form>

    </div>
   </div>
  </div>
<div aria-hidden="true" class="modal fade" id="edit_specialities_details" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
     <div class="modal-content">
      <div class="modal-header">
       <h5 class="modal-title">
        Edit Category
       </h5>
       <button aria-label="Close" class="close" data-dismiss="modal" type="button">
        <span aria-hidden="true">
         ×
        </span>
       </button>
      </div>
      <div class="modal-body">
       <form method="post" >{% csrf_token %}
        <div class="row form-row">

<input class="form-control" id="phar_id" name="phar_ids" type="hidden" value=""/>

          <div class="col-12 col-sm-6">
          <div class="form-group">
           <label>
            Product Name
           </label>
           <input class="form-control" name="prodname" required id="prods1"  value="" type="text"/>
          </div>
         </div>
          <div class="col-12 col-sm-6">
          <div class="form-group">
           <label>
          Discount
           </label>
           <input class="form-control" name="discount" required id="discc" type="text"/>
          </div>
         </div>
          <div class="col-12 col-sm-6">
          <div class="form-group">
           <label>
           Price
           </label>
           <input class="form-control" name="price" id="pricess"  required value="{{i.price}}" type=""/>
          </div>
         </div>
         <div class="col-12 col-sm-6">
          <div class="form-group">
           <label>
           Genetic Name
           </label>
           <input class="form-control" name="gen_name" id="gen"  required value="" type=""/>
          </div>
         </div>
         <div class="col-12 col-sm-6">
            <div class="form-group">
             <label>
             Category Name
             </label>
             <select class="form-control select" name="category" id="cate" required="" />
          {% for i in cates%}
               <option value="{{i.cate}}">
                {{i.cate}}
               </option>{% endfor %}
            </select> 
            </div>
           </div>

         </div><button class="btn btn-primary btn-block" type="submit">
         Save Changes
        </button>
           </form>
      </div>
     </div>
    </div>
   </div>

{% endblock body1%}