
{% extends 'basics.html' %}
{% block body %}
{% load static %}
   <div class="page-wrapper">
    <div class="content container-fluid">
     <div class="page-header">
      <div class="row">
       <div class="col-sm-12">
        <h3 class="page-title">
         General Settings
        </h3>
        <ul class="breadcrumb">
         <li class="breadcrumb-item">
          <a href="{% url 'indexs'%}">
           Dashboard
          </a>
         </li>
<!--         <li class="breadcrumb-item">-->
<!--          <a href="javascript:(0)">-->
<!--           Settings-->
<!--          </a>-->
<!--         </li>-->
         <li class="breadcrumb-item active">
          General Settings
         </li>
        </ul>
       </div>
      </div>
     </div>
     <div class="row">
      <div class="col-12">
       <div class="card">
        <div class="card-header">
         <h4 class="card-title">
          General
         </h4>
        </div>
        <div class="card-body">
         <form method="post">{% csrf_token %}
          <div class="form-group">
           <label>
            Website Name
           </label>
           <input class="form-control" required name="webname" type="text"/>
          </div>
          <div class="form-group">
           <label>
            Website Logo
           </label>
           <input class="form-control" required name="weblogo" type="file"/>
           <small class="text-secondary">
            Recommended image size is
            <b>
             150px x 150px
            </b>
           </small>
          </div>
          <div class="form-group mb-0">
           <label>
            Favicon
           </label>
           <input class="form-control"name="favicon" required type="file"/>
           <small class="text-secondary">
            Recommended image size is
            <b>
             16px x 16px
            </b>
            or
            <b>
             32px x 32px
            </b>
           </small>
           <br/>
           <small class="text-secondary">
            Accepted formats : only png and ico
           </small>
          </div>
          <button class="btn btn-primary " type="submit">Save</button>
         </form>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
 {%endblock%}